.jobinfo{
    height: 400px;
    .info{
        margin-left: 15px;
        .address{
            .title{
                width: 144px;
            }
            .content{

            }
        }

        .fl{
            display: flex;
            margin-top: 5px;
            
        }
        .title{
            font-weight: 500;
            width: 120px;
        }
        .content{
            padding-left: 15px;

        }
    }
    .avt-name{
        
        .btnUngTuyen{
            float: right;
            margin-right: 20px;
            background-color: rgb(255, 166, 0);
            font-weight: 500;
            color: white;
            height: 30px;
            width: 100px;
            border: none;
            border-radius: 5px;
            
        }
        .avt{
            img{
            margin-top: 15px;
            margin-left: 15px;
            height: 70px;
            border: 2px solid orange;
            width: 70px;
            border-radius: 100%;
            }
        }
        .name{
            font-weight: bold;
            padding-left: 15px;
            font-size: 18px;
        }
    }
}