.tuyenNV{
            font-size: 20px;
            color: black;
            width: 100%;
            height: auto;
            margin: auto;

            .btnXemThem{
                border: none;
                background-color: #008000;
                width: 100px;
                height: 40px;
                color: white;
            }
            .jobItem{
                border: solid #d8d5d5 1px;
                border-radius: 4px;
                height: 160px;
                width: 90%;
                margin: 10px;
                padding: 10px;
                box-shadow: 1px 1px #f0ecec;
        
                
                .Top-Job{
                    display: flex;
                    height: 54px;
                    .icon{
                width: 40px;
                height: 40px;
                img{
                object-fit: cover;
                width: 40px;
                height: 40px;
                }
                    }
                    .Top-Left{
                        margin-top: 2px;
                        .nameJob{
                            width: 100%;
                            text-align: left;
                            margin-top: -7px;
                            font-weight: bold;
                            font-size: 18px;
                            text-indent: 15px;
                        }
        
                        .nameCompany{
                            width: 100%;
                            text-align: left;
                            font-size: 16px;
                            font-weight: inherit;
                            margin-top: -3px;
                            text-indent: 15px;
        
                        }
        
                    }
                }
        
                .Bot-job{
        
                    margin-top: 10px;
                    .item{
                        background-color: #e5e2e2;
                        margin: 10px;
                        margin-left: 0px;
                        width: fit-content;
                        padding: 1px 10px 1px 10px;
                        border-radius: 2px;
                        font-size: 11px;
                    }
        
                    
                }
            }
        }
    
    