
.topnav {
    background-color: white;
    overflow: hidden;
    padding-bottom: 8px;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 1px 1px rgb(197, 197, 197);

    .LHU_Logo{
      height: 30px;
      width: 20vmin;
      margin-top: -10px;
    }

    .profile_logo_1{
      height: 35px;
      width: 35px;
      float: right;
      margin: 15px 15px 0 0;
      border: solid orange 1px;
      border-radius: 100px;
      margin-right: 20px;
      margin-left: 7px;
    }
    .profile_logo{
      height: 35px;
      width: 35px;
      float: right;
      margin: 15px 15px 0 10px;
    }
    
 /* Style the links inside the navigation bar */
    a {
      float: left;
      color: black;
      text-align: center;
      padding: 25px 15px 15px 15px;
      text-decoration: none;
      font-family: initial;
      font-size: 17px;
    }

    a:hover {
      // background-color: #ddd;
      color: orange;
    }

    a.active {
      // background-color: #04AA6D;
      color: orange;
    }
  }