.ReactModal__Overlay.ReactModal__Overlay--after-open{
    position: absolute !important;
}
.modal-header{
    padding: 0 !important;
}
.titleee{
    width: 95% !important;
}
.modal-body{
    padding: 0 !important;
}

.titlee{
    width: 95%;
    margin: auto;
}

.diachi{
    height: 50px;
}

.container-recruit{
    margin-bottom: 50px;
    margin-top: 8px;
    .recruit-item{
        .container-recruit{
            .list-recruit{
                .rec-jobname{
                    .rec-textbox{
                        color: black !important;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}