.ReactModal__Overlay.ReactModal__Overlay--after-open{
    position: absolute !important;
}
.modal-header{
    padding: 0 !important;
}
.titleee{
    width: 95% !important;
}

.mod-body{
    width: 100;
}
.modal-body{
    padding: 0 !important;
}

.rec-category{
    font-size: 19px !important;
    font-weight: 500;
}
.titlee{
    width: 95%;
    margin: auto;
}

.diachi{
    height: 50px;
}
.mota{
    height: 250px !important;
    color: black !important;
}
.container-recruit{
    margin-bottom: 50px;
    margin-top: 8px;
    .recruit-item{
        .container-recruit{
            .list-recruit{
                .rec-jobname{
                    .rec-textbox{
                        color: black !important;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}