.ReactModal__Overlay.ReactModal__Overlay--after-open{
    position: absolute !important;
}
.modal-header{
    padding: 0 !important;
}
.modal-body{
    padding: 0 !important;
}
.content{
    margin-left: 0px !important;
    padding-left: 0px!important;
}
.gioithieu{
    margin-left: 0px !important;

}

.address{
    margin-left: 0px !important;
    padding-left: 0px !important;

}