*{
    margin: 0;
    padding: 0;
}

.search-container{
    border: none;
    height: 400px;
    width: auto;
    padding-top: 100px;
    background-repeat: no-repeat ;
    background-position: center;
    background-size: 100%;
    background-image: url("../../assets/images/lachongImg.jpg");
    .search-label{
        padding-top: 60px;
    }


    .wrapper{
        margin-top: 30px;
        .search-wrapper{
            .search-input{
                width: 570px;
                height: 45px;
                border-radius: 5px;
                padding-left: 10px;
                border: none !important;
                border-radius: 0;
                font-size: 16px;
                text-indent: 15px;
                margin-bottom: 20px;
            }
            
            }
            .dexuat{
                .dexuat-content{
                    background-color: white;
                    padding: 8px 10px;
                    font-size: 11px;
                    color: black;
                    margin-left: 30px;
                    text-align: justify;
                    height: 20px;
                    width: auto;
                    border-radius: 3px;
                }
            
        }
    }
}