.container-rspass{
    width: 100%;
    height: 800px;
    padding: 20px 20px 20px 0;
	text-align: center;
    margin: auto;
    
	color: white;
    font-family: product;
    color:grey;
    background-color: white;
    display: flex;

    .left-img{
        background-image: url(../../assets/images/lachongImg.jpg);
        height: 530px;
        width: 709px;
        margin-left: 10px;
        border-radius: 5px;
    }
    .right-resetpass{
        margin-left: 140px;
        margin-right: 70px;
    }
    .top-form-rspass{
        
        .LHU-Logo-rspass{
            height: 50px;
            float: right;
            margin: 20px auto;
          }
    }

    .middle-form-rspass{
        clear: right;
        .text-login-rspass{
            text-align: right;
            font-size: 25px;
            padding-top: 10px;
            font-weight: 600;
            color: blue;
            margin-bottom: 70px;
        }
        
        input::-ms-reveal,
        input::-ms-clear {
        display: none;
      }

        .textBox-rspass{
            height: 54px; 
            width: 400px; 
            margin: 5px 0;
            margin-top: 20px;
            margin-bottom: 20px;
            border-radius: 4px; 
            border: 1px solid #f1f2f3; 
            padding-left: 10px; 
            font-size: 16px;
            
        }
        
        .btnReset{
            margin-top: 25px;
            height: 50px; 
            width: 200px;
            background-color: orange; 
            color: white;
            font-weight: bold;
            font-size: 1em; 
            border-radius:4px; 
            border: none;
            cursor: pointer;
        }     
    }

    .bottom-form-rspass{
        .bottom-form-bar-rspass{
            margin-top: 40px;
            list-style:none; 
            overflow: hidden;
        }
    }
}