.footer{
    background-color: blue;
    height: auto;
    width: 100%;
    .footer-title{
        width: 70%;
        margin: auto;
        font-size: 40px;
        text-align: left;
    }
    .major-list{
        width: 70%;
        margin: auto;
        height: 300px;
        font-size: 15px;
        text-align: left;
        padding: 10px;
        display: flex;
        .major-list-left{
            width: 33%;
            height: auto;
            flex: 40%;
            
        }
        .major-list-center{
            width: 33%;
            height: auto;
            flex: 40%;
        }
        .major-list-right{
            width: 33%;
            height: auto;
            
        }
    }
    .contact-list{
        background-color: black;
        height: auto;
        
        .contact-content{
            width: 70%;
            height: 80px;
            margin: auto;
            padding: 20px 0;
            text-align: left;
            font-size: 20px;
            .LHU-map{
                text-decoration: none;
                width: 35%;
                height: auto;
                color: white;
                float: left;
            }
    
            .LHU-phone{
                width: 35%;
                float: left;
            }
            .LHU-website{
                text-decoration: none;
                color: white;
                float: left;
            }
        }
        
    }
}