
.footer{
    height: auto;
    width: 100%;
    bottom: 0 !important;
    .footer-title{
        width: 100%;
        margin: auto;
        font-size: 20px;
        text-align: left;
    }
    }

    .contact-list{
        background-color: black;
        height: auto;
        
        .contact-content{
            width: 70%;
            height: 50px;
            margin: auto;
            padding: 0;
            text-align: left;
            font-size: 15px;
            .LHU-map{
                text-decoration: none;
                width: 35%;
                height: auto;
                padding-top: 12px;
                color: white;
                float: left;
            }
    
            .LHU-phone{
                width: 35%;
                float: left;
                padding-top: 12px;
            }
            .LHU-website{
                text-decoration: none;
                padding-top: 12px;
                color: white;
                float: left;
            }
        }
        
    }
