*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.all{
    background-color: rgb(255, 255, 255);
    height: 100%;
    margin-bottom: 10px;
}
.profileCT{

    height: 100%;
    background-color: white;
    width: 80%;
    display: flex;
    margin: auto;
    margin-top: 70px;
    border: 2px solid rgb(235, 185, 78);
    .pro-right{
        background-color: rgb(235, 185, 78);
        width: 50%;
        padding-top: 7px;

        .infoall{
            background-color: white;
            width: 92%;
            border-radius: 5px;
            margin: auto;
            padding-bottom: 10px;
            .info{
                margin-left: 22px;
                margin-right: 10px;
                color: black;
                display: flex;
                
                font-size: 16px;
    
                .icon{
                    img{
                        height: 15px;
                        width: 15px;
                        margin-top: 20px;
                        padding: auto;
                    }
                }
                .content{
                    padding-left: 20px;
                    font-size: 14px;
                    padding-top: 15px;
                    color: rgb(129, 129, 129);
                }
            }
        }

        .banner{
            height: auto;
            img{
                height: 200px;
                width: 97%;
                object-fit: fill;
            }
        }
        .listbutton{
            margin-top: 5px;
            margin-bottom: 5px;
            .btn{
                
                height: auto;
                width: auto;
                margin: 5px;
                font-weight: 500;
                background-color: white;
                color: rgb(235, 185, 78);
            }
            
        }
        .follow{
            margin-top: 10px;
            margin-bottom: 20px;
            .titlefollow{
                margin-top: 10px;
                margin-bottom: 5px;
                font-weight: bold;
            }
            .listfollow{
                height: 220px;
                width: 500px;
                margin: auto;
                border-radius: 5px;
                background-color: white;
                .useritem{
                    border: solid #d8d5d5 1px;
                    border-radius: 4px;
                    height: 68px;
                    width: 480px;
                    color: black;
                    display: flex;
                    margin: 10px;
                    padding: 10px;
                    box-shadow: 1px 1px #f0ecec;
                    .icon{
                        padding: 5px;
                        img{
                            border: solid black 1px;
                            height: 35px;
                            width: 35px;
                            padding: auto;
                        }
                    }
                    .content{
                        padding-left: 20px;
                        font-size: 16px;
                        padding-top: 10px;
                        color: rgb(129, 129, 129);
                    }
                }
                .jobItem{
                border: solid #d8d5d5 1px;
                border-radius: 4px;
                height: 65px;
                width: 480px;
                color: black;
                margin: 10px;
                padding: 10px;
                box-shadow: 1px 1px #f0ecec;
        
                
                .Top-Job{
                    display: flex;
                    height: 54px;
                    .icon{
                        border: solid black 1px;
                        height: 40px;
                        width: 40px;
                        .avtCompany{
                            height: 40px;
                            width: 40px;
                        }
        
                        
                    }
                    .Top-Left{
                        .nameJob{
                            width: 330px;
                            text-align: left;
                            margin-top: -7px;
                            font-weight: bold;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            font-size: 20px;
                            text-indent: 15px;
                        }
        
                        .nameCompany{
                            width: 400px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            text-align: left;
                            font-size: 18px;
                            font-weight: inherit;
                            margin-top: -3px;
                            text-indent: 15px;
        
                        }
        
                    }
                }
        
                
                }
            }
        }
        .userfollowtitle{
            margin-top: 10px;
                margin-bottom: 5px;
                font-weight: bold;
        }
        .userfollow{
            height: 300px;
            width: 500px;
            margin: auto;
            border-radius: 5px;
            margin-top: 10px;
            margin-bottom: 15px;
            background-color: white;
            
            font-size: 16px;
            .useritem{
                border: solid #d8d5d5 1px;
                border-radius: 4px;
                height: 68px;
                width: 480px;
                color: black;
                display: flex;
                margin: 10px;
                padding: 10px;
                box-shadow: 1px 1px #f0ecec;
                .icon{
                    padding: 5px;
                    img{
                        border: solid black 1px;
                        height: 35px;
                        width: 35px;
                        padding: auto;
                    }
                }
                .content{
                    padding-left: 20px;
                    font-size: 16px;
                    padding-top: 10px;
                    color: rgb(129, 129, 129);
                }
            }
            
        }
        
}
    .pro-left{
        height: 100%;
        width: 50%;
        
        .avt-name{
            margin-top: 50px;
            height: auto;
            width: 100%;
            .avt{
                
                background-image: url("../../../assets/images/lachongImg.jpg");
                border-radius: 100%;
                width: 90px;
                height: 90px;
                margin-left: 220px;
            }
            .name{
                padding-top: 10px;
                font-weight: bold;
                color: black;
                margin: auto; 

            }
        }
        .info{
            padding-left: 11px !important;
            margin-left: 32px;
            color: black;
            display: flex;
            padding-right: 10px;
            font-size: 16px;

            .icon{
                padding-right: 10px !important;
                img{
                    height: 30px;
                    width: 30px;
                    margin-top: 20px;
                    padding: auto;
                }
            }
            .content{
                padding-left: 20px;
                padding-top: 25px;
                color: rgb(129, 129, 129);
            }
        }
        .gioithieu{
            margin-top: 60px;
            margin-bottom: 10px;
            width: auto;
            text-align: left;
            padding-left: 30px;
            .titleGT{
                font-weight: 500;
                font-size: 17px;
                width: auto;
                color: black;
            }
            .contentGT{
                font-size: 14px;
                height: fit-content;
                color: rgb(129, 129, 129);
                width: 470px;
                text-align: left;
                margin-top: 7px;
                padding-left: 10px;
            }
        }
    }
}

.diachi{
    text-align: left;
}